/*ALL*/

html, body{
	background-color: white;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	font-family: helvetica, sans serif;
}

header{
	padding-top: 90px;
}

@media screen and (max-width: 500px){
	header{
		padding-top: 110px;
	}
}

#content{
	background-color: white;
}

footer{
	height: 90px;
	background-color: RGBa(184, 143, 54, 0.8);
}


/*TEMPLATE FRPONTEND    &   TEMPLATE BACKEND*/

#divFixedMenu{
	background-color: RGB(184, 143, 54);
	opacity: 0.8;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 900;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 768px){
	#divFixedMenu{
		opacity: 1;
	}
}

@media screen and (max-width: 500px){
	#divFixedMenu{
		flex-direction: column;
		justify-content: center;
		height: 110px;
	}
}

#divFixedMenu:hover{
	background-color: RGB(184, 143, 54);
	opacity: 1;
}

#divFixedMenu a:hover{
	color: white;
}


#bookTitle{
	margin-left: 15px;
	width: 35%;
}

@media screen and (max-width: 500px){
	#bookTitle{
		width: 100%;
		text-align: center;
		margin-left: 0px;
	}
}


#bookTitle a{
	color: black;
}


#headerButton{

}


@media screen and (max-width: 500px){
	#headerButton{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		font-weight: bold;
	}
}

#helloMember em{
	font-weight: bold;
	font-style: normal;
}

#logOutButton{
	font-style: italic;
	font-weight: bold;
}

#adminLinkButton{
	font-weight: bold;
	text-decoration: underline;
}

#divFixedMenu p{
margin-right: 15px;
}

@media screen and (max-width: 500px){
	#divFixedMenu p{
		margin-left: 15px;
	}
}

#slider{
	position: relative;
	z-index: 100;
}

#imgSlider img{
	width: 100%;
	height: 500px;
	opacity: 0.8;
}

#textSlider{
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	color: white;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 500px){
	#textSlider{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

#textSlider h1{
	font-size: 70px;
	font-style: italic;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 15px;
}

@media screen and (max-width: 768px){
	#textSlider h1{
		font-size: 50px;
	}
}

@media screen and (max-width: 500px){
	#textSlider h1{
		font-size: 35px;
	}
}

#textSlider p{
	font-size: 30px;
	align-self: flex-end;
	text-align: left;
	width: 70%;
	margin-right: 15px;
}

@media screen and (max-width: 768px){
	#textSlider p{
		font-size: 25px;
	}
}

@media screen and (max-width: 500px){
	#textSlider p{
		font-size: 20px;
		width: 100%;
		text-align: center;
		margin-right: 0px;
	}
}






/*signalComView*/

#signalComViewDiv{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#signalComViewDiv h1{
	margin-top: 50px;
	align-self: center;
}

@media screen and (max-width: 750px){
	#signalComViewDiv h1{
		border: 2px solid black;
		padding: 5px;
	}
}

table{
	width: 80%;
	border-collapse: collapse;
	margin-bottom: 200px;
	margin-top: 50px;
	align-self: center;
}


table th{
	border:2px solid black;
	border-collapse: collapse;
	padding-top: 6px;
	padding-bottom: 6px;
}

@media screen and (max-width: 750px){
	table th{
		border: none;
		width: 100%;
	}
}

table tr{
	border-top: 1px solid black;
}

@media screen and (max-width: 750px){
	table tr{
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 2px solid black;
		text-align: center;
		margin: auto;
	}
}

table td{
	border-right: 1px solid black;
	min-height: 200px;
	text-align: center;
	padding: 10px;
	word-break: break-word;
}

@media screen and (max-width: 750px){
	table td{
		border-right: none;
		min-height: 40px;
	}
}


#deleteSignalCom{
	color: red;
	font-weight: bold;
	width:100%;
	align-self: center;
	margin:0;
}

#cancelSignalCom{
	color: blue;
	font-weight: bold;
	width: 100%;
	align-self: center;
	margin:0;
}

#deleteSignalCom a{
	color: red;
}

#cancelSignalCom a{
	color: green;
}

#actionSignalButton{
	border-right: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 5px;
}

@media screen and (max-width: 750px){
	#actionSignalButton{
		flex-direction: row;
		padding-left: 0px;
		border-top: 1px solid RGBa(0, 0, 0, 0.4);
		width: 100%;
		align-items: center;
	}
}

#signalCommentLink:hover{
	color: black;
}

#signalCommentLink{
	text-decoration: underline;
	word-break: keep-all;
}

#actionSignalButton button{
	font-weight: bold;
}

#dateTable{
	width: 20%;
	font-style: italic;
}

@media screen and (max-width: 750px){
	#dateTable{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		margin: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#authorTable{
	font-weight: bold;
}

@media screen and (max-width: 750px){
	#titleTr{
		background-color: RGBa(184, 143, 54, 0.5);
		border-top: 5px solid black;
		border-bottom: 2px solid black;
	}
}

/*listPostsView   &   postView*/


#listPostsDiv, #postDiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

#listPostsDiv h1{
	font-size: 35px;
}

@media screen and (max-width: 500px){
	#listPostsDiv h1{
		font-size: 24px;
	}
}

.news{
	width: 70%;
	margin-bottom: 60px;
}

.news h3{
	background-color:  RGBa(184, 143, 54, 0.7);
	color: white;
	margin-bottom: 2px;
	padding: 8px;
	font-size: 30px;
	border-bottom: 5px solid  RGB(184, 143, 54);
	text-align: center;
}


#newsPara{
	background-color: #E8E1d3;
	margin: 0px;
	border: 2.5px solid RGB(184, 143, 54) ;
	box-shadow: 4px 4px 4px grey;
	font-size: 25px;
	word-break: break-word;
}

#newsPara p{
	margin: 5px;
}

.news em{
	font-size: 19px;
}

@media screen and (max-width: 550px){
	.news em{
		font-size: 15px;
	}
}

.news a:hover h3{
	color: black;
}

#newsPara a:hover{
	color: black;
}


#modifLink{
	color: green;
}


#deleteLink{
	color: red;
}



a{
	text-decoration: none;
	font-style: normal;
	color: blue;
}

#addPostLink a:hover{
	color: black;
}

#addPostLink{
	width: 70%;
	text-align: left;
	font-size: 20px;
}

@media screen and (max-width: 500px){
	#addPostLink{
		font-size: 18px;
	}
}


#readMore{
	font-style: italic;
	color: grey;
}



#postCommentDiv{
	width: 70%;
	margin-top: -50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.returnLink{
	align-self: flex-start;
	/*width: 100%;*/
	font-size: 18px;
	margin-left: 15px;
}

@media screen and (max-width: 500px){
	.returnLink{
		font-size: 16px;
	}
}

.returnLink a:hover{
	color: black;
}

#postCommentDiv h2{
	margin-top: 0px;
	margin-bottom: 0px;
}

#postCommentDiv form{
	width: auto;
}

#postCommentDiv textarea{
	width: 100%;
	height: 150px;
}

#postCommentDiv input{
	width: 100%;
	height: 30px;
	font-weight: bold;
}

#postCommentsContent{
	border-top: 3px solid black;
}

#commentContent{
	border-bottom: 1px solid black;
	word-break: break-word;
}

#commentContent a:hover{
	color: black;
}






/*connectionView  &  registerView*/


#connectionDiv #registerDiv{
	position: relative;
}


#imgConnectionSlider img, #imgRegisterSlider img{
	width: 100%;
	height: 500px;
	opacity: 0.8;
}

#textConnectionSlider, #textRegisterSlider{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#textConnectionSlider h1, #textRegisterSlider h1{
	font-size: 40px;
	text-align: center;
}

@media screen and (max-width: 660px){
	#textConnectionSlider h1, #textRegisterSlider h1{
		font-size: 30px;
	}
}


#connectionSpace, #registerSpace{
	border: 5px solid RGBa(184, 143, 54, 0.5);
	padding: 10px;
}

#textConnectionSlider form, #textRegisterSlider form{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
	font-size: 25px;
}


@media screen and (max-width: 660px){
	#textConnectionSlider p, #textRegisterSlider p{
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
	}
}


#textConnectionSlider input, #textRegisterSlider input{
	margin-right: 25px;
	margin-left: 5px;
	height: 30px;
}


@media screen and (max-width: 660px){
	#textConnectionSlider input, #textRegisterSlider input{
		margin-right: 0px;
		margin-left: 0px;
	}
}


#connectionButton input, #registerButton input{
	font-size: 20px;
}

#connectionId, #registerId{
	display: flex;
	margin-bottom: 30px;
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 660px){
	#connectionId, #registerId{
		flex-direction: column;
	}
}


#registerId p{
	text-align: center;
}

#registerId label{
	margin-right: 20px;
}



/*adminView*/

.adminSection{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 15px;
	background-color: black;
	border: 2px solid white;
}

.adminSection h2{
	font-size: 40px;
}

@media screen and (max-width: 500px){
	.adminSection h2{
		font-size: 25px;
	}
}

.adminSection a{
	color: RGB(184, 143, 54);
	display: flex;
	align-items: flex-end;
	height: 100%;
}

.adminSection a:hover{
	color: white;
}



/*adminPostView*/

#adminPostsViewDiv{
	
}

#listPostsAdminView{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#listPostsAdminView h1{
	margin-top: 50px;
	align-self: center;
}

@media screen and (max-width: 750px){
	#listPostsAdminView h1{
		border: 2px solid black;
		padding: 5px;
	}
}

#titleTable{
	font-weight: bold;
}

#dateTh{
	width: 20%;
}

@media screen and (max-width: 750px){
	#dateTh{
		width: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		margin-top: 2px;
		font-style: italic;
	}
}

#titleTh{
	width: 20%;
}

@media screen and (max-width: 750px){
	#titleTh{
		width: 100%;
	}
}

#actionTh{
	width: 15%;
}

@media screen and (max-width: 750px){
	#actionTh{
		width: 100%;
	}
}

#adminPostsViewDiv table a{
	text-decoration: underline;
}

#adminPostsViewDiv table a:hover{
	color: black;
}

#adminModifPost{
	color: green;
	font-weight: bold;
}

#adminDeletePost{
	color: red;
	font-weight: bold;
}




/*addPostView   &   modifPostView*/

#addModifPostDiv form{
	margin-left: 15px;
	margin-right: 15px;
}

#addModifTitle{
	text-align: center;
}

#addModifPostDiv h1{
	text-decoration: underline;
	text-align: center;
}

#addModifPostDiv form label{
	font-weight: bold;
}

#addModifPostDiv input{
	width: 100%;
}




/*TEMPLATE ERROR*/

#errorHtml{
	background-color: RGB(184, 143, 54);
	margin: 0;
	padding: 0;
}


#bodyHeader{
	width: 100%;
	padding-top: 0px;
}

#errorBody{
	background-color: RGB(184, 143, 54);
	display: flex;
	flex-direction: column;
	align-items: center;
}

#errorBody img{
	height: 400px;
	margin-top: 50px;
}

@media screen and (max-width: 550px){
	 #errorBody img{
	 	height: 200px;
	 }
}


#errorContent{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#errorContent p{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
}

@media screen and (max-width: 550px){
	 #errorContent p{
	 	font-size: 18px;
	 }
}

@media screen and (max-width: 350px){
	 #errorContent p{
	 	font-size: 15px;
	 }
}


